*{color: whitesmoke}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    width: 400px;
    height: 400px;

    backdrop-filter: saturate(130%) blur(10px);

    box-sizing: border-box;
    border: 1px solid whitesmoke;
    border-radius: 15px;
    box-shadow: 10px 10px 20px 10px rgba(255,255,255,0.24);
}

#password-input{
    width: 60%;
    height: 30px;

    color: black;

    padding: 5px 5px;

    border: 1px solid whitesmoke;
    border-radius: 8px;
}

#show-password {
    border: none;
    background: none;

    cursor: pointer;
}

.validate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 320px;
    height: 170px;

    box-sizing: border-box;
    border: 1px solid whitesmoke;
    border-radius: 15px;
}

.password-strength {
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid whitesmoke;
    border-radius: 8px;

    width: 310px;
    height: 48px;

    text-align: center;
}

.none {
    background: rgb(37,38,34);
    background: linear-gradient(90deg, rgba(37,38,34,80%) 0%, rgba(83,88,76,80%) 50%, rgba(37,38,34,80%) 100%);
}

.red {
    background: rgb(171,27,27);
    background: linear-gradient(100deg, rgba(171,27,27,80%) 0%, rgba(253,29,29,80%) 50%, rgba(171,27,27,80%) 100%);
}

p.easy:nth-child(1) {
    background: rgb(171,27,27);
    background: linear-gradient(100deg, rgba(171,27,27,80%) 0%, rgba(253,29,29,80%) 50%, rgba(171,27,27,80%) 100%);
}

p.medium:nth-child(1), p.medium:nth-child(2) {
    background: rgb(159,142,32);
    background: linear-gradient(90deg, rgba(159,142,32,80%) 0%, rgba(255,220,0,80%) 50%, rgba(159,142,32,80%) 100%);
}

.strong {
    background: rgb(130,171,60);
    background: linear-gradient(90deg, rgba(130,171,60,80%) 0%, rgba(161,255,0,80%) 50%, rgba(130,171,60,80%) 100%);
}